.form-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 32.5px;

  .el-form-item {
    width: 100%;
    margin-bottom: 0;
  }
  .el-input {
    .el-input__inner {
      background: #ffffff;
      padding: 10px 13px !important;
      border: 1px solid #e4e6ef;
      border-radius: 6.175px;

      @include fontInter(14.3px, 400);
      line-height: 21.5px !important;
      color: #181c32 !important;
      &::placeholder {
        color: #a1a5bf;
      }
      height: initial !important;
    }
  }
  label {
    display: inline-flex;
    @include fontInter(13.65px, 500);
    line-height: 24px;
    margin-bottom: 6.5px;
    color: #181c32;
    position: relative;
  }
  .bottom_text {
    @include fontTTinterface(14px, 400);
    line-height: 18px;
    color: #a1a5bf;
    margin-top: 8px;
  }
  .el-form-item__error {
    position: static;
  }
}
.status-style {
  label {
    display: inline-flex;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: yellow;
      border-radius: 50%;
      right: -19px;
    }
  }
}
.form-variant-block {
  .el-input {
    .el-input__inner {
      background: #ffffff;
      border: 1px solid #e4e6ef;
      padding: 10px !important;
      border-radius: 5px;
      @include fontTTinterface(14px, 400);
      line-height: 18px !important;
    }
  }
  .el-select__input {
    height: initial;
  }
  label {
    display: inline-flex;
    @include fontTTinterface(14px, 500);
    line-height: 18px;
    margin-bottom: 8px;
    color: #181c32;
    position: relative;
  }
}
.required {
  label {
    &::after {
      content: "*";
      position: absolute;
      top: 0;
      right: -12px;
      color: #3699ff;
    }
  }
}
.el-select {
  .el-tag--small {
    height: initial !important;
    line-height: initial !important;
    padding: 8px 16px;
    border: none !important;
    margin-left: 8px !important;
    &:first-child {
      margin-left: 12px !important;
    }
  }
  .el-select__tags-text {
    @include fontTTinterface(14px, 500);
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #6c7b9a;
  }
  .el-tag {
    .el-icon-close {
      font-size: 16px;
      width: initial;
      height: initial;
      padding: 1px !important;
    }
  }
}

// from grids

.atribut-input-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 23px;
}
.group-grid {
  display: grid;
  grid-template-columns: auto 30px;
  grid-gap: 16px;
}

// switch

.switch-text {
  display: flex;
  align-items: center;
  span {
    @include fontTTinterface(18px, 500);
    margin-right: 8px;
    line-height: 24px;
    color: #a1a5bf;
  }
}
@media (max-width: 1440px) {
  .form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .el-form-item {
      width: 100%;
      margin-bottom: 0;
    }
    .el-input {
      .el-input__inner {
        background: #ffffff;
        padding: 10.725px 16px !important;
        border: 1px solid #e4e6ef;
        border-radius: 5.46px;

        @include fontTTinterface(14.04px, 400);
        line-height: 19.5px !important;
        color: #a1a5bf;
        height: initial !important;
      }
    }
    label {
      display: inline-flex;
      @include fontTTinterface(14px, 600);
      line-height: 18px;
      margin-bottom: 11px;
      color: #181c32;
      position: relative;
    }
    .bottom_text {
      @include fontTTinterface(12px, 400);
      line-height: 18px;
      color: #a1a5bf;
      margin-top: 8px;
    }
  }
}
