.input-block {
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 0.5rem;
  @include fontPoppins(1.05 * 13px, 500);
  color: #3f4254;
}
.required:after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: #f1416c;
  padding-left: 0.25rem;
  font-weight: 700;
}
.form-input,
.el-input__inner {
  padding: 0.75 * 13px 1 * 13px !important;
  @include fontPoppins(1.1rem, 500);
  &:focus {
    border-color: #ced4da !important;
  }
}
.text-muted {
  color: #a1a5b7 !important;
}

// --- checkbox ---

.btn-outline-dashed {
  border-width: 1px;
  border-style: dashed;
  border-color: #009ef7;
  border-radius: $toolbar-setting-btn-b-radius;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.45em;
  line-height: 0% !important;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-label {
  color: #3f4254 !important;
  @include fontPoppins(1.25rem, 500);
}

// select input

.select_input {
  input {
    background-color: #eef3f7;
    border-color: #eef3f7 !important;
    @include fontPoppins(1.1rem, 500);
    line-height: 1.5;
    color: #a1a5b7 !important;
    &::placeholder {
      color: #a1a5b7 !important;
    }
    &:focus {
      border-color: #eef3f7 !important;
    }
  }
}
.el-select-dropdown__list {
  padding: 1rem 0 !important;
}
.el-select-dropdown__item {
  color: #5e6278;
  transition: color 0.2s ease, background-color 0.2s ease;
  flex: 0 0 100%;
  padding: 0.65rem 1rem !important;
  margin: 0 1rem !important;
  width: 105.5px !important;
  height: 39px !important;
  line-height: 39px !important;
  @include fontPoppins(13px, 500);
  &:hover {
    background-color: #f1faff !important;
    color: #009ef7 !important;
    transition: color 0.2s ease, background-color 0.2s ease;
  }
  .selected {
    background-size: 0.8rem;
    background-position: center right 1.25rem;
    background-color: #009ef7 !important;
    color: #fff;
    transition: color 0.2s ease, background-color 0.2s ease;
  }
}
.el-dropdown-menu {
  padding: 1rem 0 !important;
  border: none !important;
}
.el-select-dropdown__item.selected {
  background-size: 0.8rem;
  background-position: center right 1.25rem;
  background-color: #009ef7 !important;
  color: #fff !important;
  transition: color 0.2s ease, background-color 0.2s ease;
  &:hover {
    color: #fff !important;
  }
}
