.search-input {
  position: relative;
  display: flex;
  align-items: center;
  margin: 6.5px;
  margin-left: 0;
  span {
    position: absolute;
    left: 10px;
    color: #a1a5b7;
    svg {
      width: 22px;
      height: 22px;
      display: block;
    }
  }
  input {
    background: #f9f9f9;
    border-color: #f9f9f9;
    color: #000;
    transition: color 0.2s ease;
    appearance: none;
    background-clip: padding-box;
    display: block;
    width: 100%;
    border: none;
    padding: 10px 13px;
    padding-left: 45px;
    @include fontInter(14.3px, 500);
    border-radius: 6.175px;
    line-height: 1.5;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #a1a5b7;
    }
  }
}
.status-select {
  input {
    background: #f9f9f9;
    border-color: #f9f9f9;
    color: #5e6278;
    transition: color 0.2s ease;
    appearance: none;
    background-clip: padding-box;
    display: block;
    border: none;
    max-width: 150px;
    padding: 10px 13px;
    @include fontInter(14.3px, 500);
    border-radius: 6.175px;
    line-height: 1.5;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #a1a5b7;
    }
  }
}
.popper__arrow {
  display: none !important;
}
.el-popper {
  margin-top: 2px !important;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
}
.el-select-dropdown {
  border: none !important;
}
