// ---app---
//colors
$app-bg-color: #f5f8fa;
// ---toolbar---
// colors

$toolbar-bg: #1e1e2d;
$toolbar-clr-text: #9d9da6;
$toolbar-clr-text-hover: #fff;
$toolbar-clr-scroll: #646477;
$toolbar-setting-btn-clr: #b5b5c3;
$toolbar-setting-btn-bg-clr: rgba(63, 66, 84, 0.35);

//width height padding margin border

$toolbar-width: 265px;
$toolbar-body-ml: 265px;
$toolbar-header-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
$toolbar-logo-box-border-bottom: 1px dashed #393945;
$toolbar-logo-height: 25px;
$toolbar-menu-item-padding: 0.65rem 1rem;
$toolbar-setting-btn-b-radius: 0.475rem;
// ---toolbar---

// --------components---------
// ---table---
// colors

$table-checkbox-bg-color: #eff2f5;
$table-checkbox-checked-bg-color: #409eff;
$table-td-border-bottom: 1px dashed #eff2f5;

//width height padding margin border

$table-checkbox-b-radius: 0.45rem;
$table-checkbox-height: 1.5rem;
$table-checkbox-width: 1.5rem;
$table-checkbox-after-left: 40%;
$table-checkbox-after-top: 3.5px;

// --- Add Button ---

// colors

$add-btn-bg-color: #009ef7;
$add-btn-color: #fff;

//width height padding margin border

$add-btn-padding: calc(0.75rem + 1px) calc(1.5rem + 1px);

// --- Input ---

// colors

$search-input-bg-color: #f5f8fa;
$search-input-border-color: #f5f8fa;
$search-input-focus-bg-color: #f5f8fa;
$search-input-focus-border-color: #f5f8fa;
$search-input-color: #5e6278;
