.el-header {
  position: fixed;
  top: 0;
  left: $toolbar-body-ml;
  width: calc(100% - $toolbar-body-ml);
  background-color: #fff;
  color: #333;
  line-height: 70px;
  z-index: 100;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  padding: 0 30px !important;
  height: 60px !important;
}
.header-btn {
  cursor: pointer;
  color: #5e6278 !important;
  display: flex;
  align-items: center;
  line-height: initial !important;
  padding: 0.65rem 1rem;
  transition: none;
  outline: 0 !important;
  transition: color 0.2s ease, background-color 0.2s ease;
  border-radius: 0.475rem;
  @include fontPoppins(1rem, 500);
  &:hover {
    color: $toolbar-blue-color !important;
    background-color: rgba(245, 248, 250, 0.8);
  }
}
.el-aside {
  margin-top: 20px;
}

// toolbar menu

.toolbar-aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-height: 100vh;
  width: $toolbar-width;
  background: $toolbar-bg;
  z-index: 1000;
  display: grid;
  grid-template-rows: 65px auto 70px;
  .menu-icon {
    margin-right: 10px;
  }
}
.el-aside {
  width: 100% !important;
  overflow-y: scroll;
  background: transparent !important;

  .el-menu {
    background: transparent !important;
    border-right: none !important;

    .el-submenu__title {
      color: $toolbar-clr-text;
      line-height: 1.5;

      height: initial !important;
      @include fontPoppins(13px, 500);

      &:hover {
        background-color: transparent !important;
        color: $toolbar-clr-text-hover !important;
        .menu-icon {
          color: $toolbar-blue-color;
        }
        .bullet-dot {
          background: $toolbar-blue-color;
        }
        i {
          color: $toolbar-clr-text-hover !important;
        }
      }
    }
  }
  // toolbar menu scroll
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    scroll-padding: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: $toolbar-clr-scroll;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
}
.el-submenu__title:hover {
  background-color: none !important;
}
.el-menu-item {
  color: $toolbar-clr-text !important;
  height: initial !important;
  line-height: 1.5 !important;
  border-radius: 0.475rem;
  display: flex;
  &:focus {
    background-color: transparent !important;
  }
  &:hover {
    background-color: transparent !important;
    color: $toolbar-clr-text-hover !important;
    .bullet-dot {
      background: $toolbar-blue-color;
    }
  }
}
.el-menu-item-group {
  .is-active {
    color: $toolbar-clr-text-hover !important;
    background: #1a1a27 !important;
    & > div > .menu-icon {
      color: $toolbar-blue-color;
    }
    .bullet-dot {
      background: $toolbar-blue-color;
    }
    & > i {
      color: $toolbar-clr-text-hover !important;
    }
  }
}

//toolbar right

.toolbar-right {
  margin-left: $toolbar-body-ml;
}

// toolbar inner

.toolbar-inner {
  margin-top: 60px;
}

// toolbar logo box

.toolbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: relative;
  transition: all 5s !important;
  background: #1a1a27;
  img {
    height: $toolbar-logo-height;
  }
}

// toolbar bottom setting

.toolbar-setting {
  a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: $toolbar-setting-btn-b-radius;
    color: $toolbar-setting-btn-clr;
    background-color: $toolbar-setting-btn-bg-clr;
    height: 100%;
  }
}

//sidebar toggle

.sidebar_toggle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $toolbar-setting-btn-b-radius;
  right: -15px;
  z-index: 1000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color: #a1a5b7;
  &:hover {
    color: $toolbar-blue-color;
  }
}

.toolbar-menu-products {
  .el-menu-item-group__title {
    display: none;
  }
}
.menu-bullet {
  display: flex;
  align-items: center;
  width: 1.25rem;
  margin-right: 0.5rem;
  .bullet-dot {
    width: 4px;
    height: 4px;
    border-radius: 100% !important;
    background-color: #9899ac;
  }
}
.el-submenu__title {
  & > div {
    display: flex;
  }
}
.is-opened > .el-submenu__title {
  background: #1a1a27 !important;

  color: $toolbar-clr-text-hover !important;
  & > div > .menu-icon {
    color: $toolbar-blue-color;
  }
  .bullet-dot {
    background: $toolbar-blue-color;
  }
  & > i {
    color: $toolbar-clr-text-hover !important;
  }
}
.home_menu > .el-submenu__title {
  padding: 0.65rem 25px !important;
}

.sub_menu .el-submenu__title {
  padding: 0.65rem 25px;
  padding-left: calc(0.75rem + 25px) !important;
}
.toolbar-menu-products .el-menu-item {
  padding: 0.65rem 25px !important;
  padding-left: calc(1.5rem + 25px) !important;
  
}
