.el-header {
  position: fixed;
  top: 0;
  left: 265px;
  width: calc(100% - 265px);
  background-color: #fff;
  color: #333;
  line-height: 70px;
  z-index: 100;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05) !important;
  display: flex;
  align-items: center;
  padding: 0 30px !important;
  height: 70px !important;
  transition: left 0.3s ease;
  
}
.header-btn {
  cursor: pointer;
  color: #5e6278 !important;
  display: flex;
  align-items: center;
  line-height: initial !important;
  padding: 0.65rem 1rem;
  transition: none;
  outline: 0 !important;
  transition: color 0.2s ease, background-color 0.2s ease;
  border-radius: 0.475rem;
  @include fontPoppins(1rem, 500);
  &:hover {
    color: $toolbar-blue-color !important;
    background-color: rgba(245, 248, 250, 0.8);
  }
}

.toolbar-right {
  margin-left: 265px;
  transition: margin 0.3s ease;
}
// toolbar menu

.toolbar-aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-height: 100vh;
  width: 265px;
  background: $toolbar-bg;
  z-index: 1000;
  display: grid;
  grid-template-rows: 65px auto 70px;
  transition: width 0.3s ease;
  &:hover {
    width: 265px;
  }
  .menu-icon {
    margin-right: 10px;
  }
}

.el-aside {
  width: 100% !important;
  overflow-y: scroll;
  background: transparent !important;
  margin-top: 20px;
  .el-menu {
    background: transparent !important;
    border-right: none !important;
    .el-submenu__title {
      color: $toolbar-clr-text;
      line-height: 1.5;
      height: initial !important;
      padding: 0.75rem 25px;
      padding-left: calc(0.75rem + 25px);
      @include fontPoppins(13px, 500);
      & > div {
        display: flex;
      }
      &:hover {
        background-color: transparent !important;
        color: $toolbar-clr-text-hover !important;
        .menu-icon {
          color: $toolbar-blue-color;
        }
        .bullet-dot {
          background: $toolbar-blue-color;
        }
        i {
          color: $toolbar-clr-text-hover !important;
        }
      }
    }
  }
  // toolbar menu scroll
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    scroll-padding: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: $toolbar-clr-scroll;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
}

.el-menu-item {
  color: $toolbar-clr-text !important;
  height: initial !important;
  line-height: 1.5 !important;
  border-radius: 0.475rem;
  display: flex;

  &:focus {
    background-color: transparent !important;
  }
  &:hover {
    background-color: transparent !important;
    color: $toolbar-clr-text-hover !important;
    .bullet-dot {
      background: $toolbar-blue-color;
    }
  }
}
.el-menu-item-group {
  .is-active {
    color: $toolbar-clr-text-hover !important;
    background: #1a1a27 !important;
    & > div > .menu-icon {
      color: $toolbar-blue-color;
    }
    .bullet-dot {
      background: $toolbar-blue-color;
    }
    & > i {
      color: $toolbar-clr-text-hover !important;
    }
  }
}

//toolbar right

// toolbar inner

.toolbar-inner {
  margin-top: 70px;
}

// toolbar logo box

.toolbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: relative;
  transition: all 5s !important;
  background: transparent;
  border-bottom: 1px dashed #393945;
  height: 70px;
  div {
    svg {
      transition: transform 0.3s ease;
      transform: rotate(0);
    }
  }
  img {
    height: $toolbar-logo-height;
  }
}

// toolbar bottom setting

.toolbar-setting {
  opacity: 0;
  a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: $toolbar-setting-btn-b-radius;
    color: $toolbar-setting-btn-clr;
    background-color: $toolbar-setting-btn-bg-clr;
    height: 100%;
  }
}

//sidebar toggle

.sidebar_toggle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $toolbar-setting-btn-b-radius;
  background-color: #fff;
  position: fixed;
  left: calc(265px - 15px);
  z-index: 1000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, left 0.3s ease;
  cursor: pointer;
  color: #a1a5b7;
  box-shadow: 0px 0px 10px rgba(113, 121, 136, 0.1);
  &:hover {
    color: $toolbar-blue-color;
  }
}

.toolbar-menu-products {
  .el-menu-item-group__title {
    padding: 0 0 0 20px;
  }
}
.menu-bullet {
  display: flex;
  align-items: center;
  width: 1.25rem;
  margin-right: 0.5rem;
  transition: 0s;
  .bullet-dot {
    width: 4px;
    height: 4px;
    border-radius: 100% !important;
    background-color: #9899ac;
  }
}
.is-opened > .el-submenu__title {
  background: #1a1a27 !important;

  color: $toolbar-clr-text-hover !important;
  & > div > .menu-icon,
  svg {
    color: $toolbar-blue-color;
  }
  .bullet-dot {
    background: $toolbar-blue-color;
  }
  & > i {
    color: $toolbar-clr-text-hover !important;
  }
}
.home_menu > .el-submenu__title {
  padding: 0.75rem 25px !important;
}
.toolbar-menu-products .el-menu-item {
  padding-right: 25px !important;
  padding-left: calc(1.5rem + 25px) !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.collapsedСontrol {
  .sidebar_toggle {
    left: calc(75px - 15px);
  }
  .el-aside {
    overflow: hidden !important;
    .el-menu--inline {
      height: 0;
      overflow-x: hidden;
    }
  }
  .toolbar-aside {
    width: 75px;
    overflow: hidden;
    .el-submenu__title {
      & > i {
        opacity: 0 !important;
      }
      div {
        p {
          opacity: 0;
        }
      }
    }
  }
  .toolbar-right {
    margin-left: 75px;
    transition: margin 0.3s ease;
  }
  .el-header {
    left: 75px;
    width: calc(100% - 75px);
  }
  .toolbar-logo {
    width: 75px;
    transition: width 0.3s ease !important;
    div {
      svg {
        transform: rotate(-180deg);
        color: $toolbar-blue-color;
      }
    }
    img {
      opacity: 0;
      width: 0;
      position: fixed;
    }
  }
  .toolbar-aside {
    &:hover {
      width: 265px;
      .el-menu--inline {
        height: initial;
        overflow-y: auto;
      }
      .sidebar_toggle {
        left: calc(265px - 16px);
      }
      .toolbar-logo {
        width: 265px;

        div {
          svg {
            transform: rotate(-180deg);
          }
        }
        img {
          opacity: 1;
          width: initial;
          position: static;
        }
      }
      .el-submenu__title {
        & > i {
          opacity: 1 !important;
        }
        div {
          p {
            opacity: 1 !important;
          }
        }
      }
    }
  }

  .toolbar-aside:hover + .toolbar-right {
    margin-left: 265px;
  }
  .toolbar-aside:hover + .el-header {
    left: 265px !important;
    width: calc(100% - 265px);
  }
}
