.card_block {
  border: 0;
  padding-top: 0 !important;
  padding-bottom: 1.25rem !important;
  border-radius: 0.625rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
}
.card_block_padd {
  padding-left: 2.25 * 13px;
  padding-right: 2.25 * 13px;
}
.card_header {
  padding-top: 54px;
  padding-bottom: 50px;
}
.card_tabs_padding {
  padding-bottom: 18px !important;
}
.card_header_bottom {
  border-bottom: 1px solid #eff2f5;
}
.card_block-title {
  @include fontPoppins(1.5 * 13px, 600);
}

.form-container {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
}
.form-container-ltr {
  border-top-left-radius: 0 !important;
}
@media (max-width: 1440px) {
  .card_header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .form-container {
    background: #ffffff;
    border-radius: 8.125px;
  }
}
